@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Inter', sans-serif;
	font-weight: 300;
	line-height: 1.7;
}

/* html, body {
  min-height: 1500px;
} */

h1 {
  padding: 20px 0;
}

.table-container {
  height: 600px;
  table-layout: fixed;
  margin: 0 auto;
  overflow-x: auto;
}

.table-content {
  animation: fadeEffect 1s;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  padding: 8px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

.action-buttons {
  display: flex;
  gap: 5px;
}

.btnPrint,
.btnDone,
.btnReject {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btnDone {
  background-color: #f44336;
}

.btnReject {
  background-color: #ff9800;
}

.container-title {
  font-family: 'Playfair Display', serif;
}

.placeholder {
  height: 700px; /* Adjust the height as per your requirement */
  /* Or use padding if you want the placeholder to have some background color or border */
  /* padding: 20px; */
}

.table-card-bg-style table {
  background-color: #fff; /* Table background color */
}

.table-card-bg-style th {
  background-color: #007bff; /* Header background color */
  color: #fff; /* Header text color */
}

.table-card-bg-style td {
  background-color: #f7f7f7; /* Table cell background color */
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  table,
  th,
  td {
    font-size: 12px;
  }
}
